@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-neutral-900 antialiased;
}

/* Skryje scrollbar, ale zachová funkčnost (pro horizontální scrollování projektů) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}